
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET DE BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; /* Défilement doux */
}


:root {
  --font-family-title : "Bebas Neue", serif;
  --font-family-text : "Work Sans", serif;
}

body {
  font-family: var(--font-family-text);
  line-height: 1.2;
  color: #333;
  background: rgb(123,209,214);
  background: linear-gradient(180deg, rgba(123,209,214,1) 26%, rgba(249,132,239,1) 70%);
  margin: 0;
  overflow-x: hidden; /* Pas de défilement horizontal */
}

h1, h2, h3, h4, h5, nav a{
  font-family: var(--font-family-title);
  letter-spacing: 0.09rem;
}


/* CONTAINER */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
